.box1 {
  background-color: orange;
}
#box2 {
  background-color: silver;
}
.box3 {
  background-color: green;
}
/* Descendant  */
.box1 h2{

    text-align: center;
}
/* Direct Child Selector */
.box1 > h1{
    text-align: right;
}
/* Adjacent siblings */
.card > ul > #list4+li{
    background-color: red;
}
/* General Siblings */
.card ul #list4~li{
    background-color: yellow;
}
